.header {
    background-color: #B8FF01; /* Ярко-зелёный цвет */
    height: 50vh; /* Шапка занимает половину экрана */
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    color: #000000; /* Белый текст */
    font-family: 'Poppins', Arial, sans-serif;
  }
  
  .header-top {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px; /* Отступ сверху */
  }
  
  .header-title {
    font-size: 2.2rem;
    font-weight: 300; /* Тонкий шрифт */
    margin: 0;
    text-transform: uppercase;
  }
  
  .header-center {
    position: absolute;
    top: 17%; /* Поднимаем весь блок выше */
    width: 100%;
    display: flex;
    flex-direction: column; /* Элементы расположены вертикально */
    align-items: center; /* Центрируем по горизонтали */
    gap: 10px; /* Расстояние между балансом и подписью */
  }
  
  .header-balance {
    font-size: 2rem; /* Размер текста для баланса */
    font-weight: 300; /* Тонкий шрифт */
    margin: 0; /* Убираем лишние отступы */
    text-align: center; /* Центрируем текст */
  }
  
  .header-available {
    font-size: 0.7rem; /* Маленький размер текста */
    font-weight: 400; /* Тонкий шрифт */
    color: #000000; /* Приглушённый белый цвет */
    margin: 0; /* Убираем лишние отступы */
    text-align: center; /* Центрируем текст */
  }
  
  
  